<!DOCTYPE html>
<head>

   
    <style>
      body{ background-color: aquamarine;text-align: center}
      h1{font-size: 50px; font-family: 'verdana'; color: blue; text-align: center}
      p{ font-size: 20px; font-family: 'fantasy'; color: blueviolet; text-align: center}
    </style>

</head>

<body>

    <h1>WELCOME TO SIGN-UP FORM</h1>

    <form id = "signup" method="POST" action="/index">
        <div>
            <label for="username">Username: </label>
            <input id="username" type="text" name="username">
            
        </div><br>

        <div>
            <label for="email"> Email: </label>
            <input id="email" type="text" name="email">    
        </div><br>

        <div>
            <label for="password"> Password: </label>
            <input id="password" type="password" name="password">
        </div><br>

        <input type="submit" id="btnSubmit" value="submit">

    </form>
</body>